*{
    margin: 0;
    padding: 0;
}
html, body{
    
    box-sizing: border-box;
    overflow-x: hidden;
}

button:hover{
    color: #20689e !important;
    background: none !important;
    border: 1px solid #20689e !important;
    cursor: pointer !important;
}
a{
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
}

.flex-row{
    display: flex;
    flex-direction: row;    
    flex-wrap: wrap;
}

ul{
    list-style-type: none;
}


.nav{
    background: white;
    height: 0rem;
    min-height: 9vh;
    overflow: hidden;
    transition: height 1s ease-in-out;
    border-bottom: 1px solid rgb(202, 201, 201);
    position: fixed;
    width: 100%;
    padding: 0 50px;
    z-index: 1000;
}

.nav .nav-menu{    
    justify-content: space-between;
}

.nav .toggle-collapse{
    position: absolute;
    top: 0%;
    width: 90%;
    cursor: pointer;
    display: none;
}

.nav .toggle-collapse .toggle-icons{
    display: flex;
    justify-content: flex-end;
    padding: 20px 0;
}

.nav .toggle-collapse .toggle-icons i{
    font-size: 1.4rem;
    color: #082148;
}

.collapse{
    height: 30rem;
}

.nav ul{
    display: flex;
    margin: 0;
    margin-right: 70px;
}

.nav ul li{
    margin-top: 10px;
    padding: 10px 1rem;
    font-size: 1.1rem;
    position: relative;
    font-family: sans-serif;
    font-size: 1.1rem;
}

.nav ul li:hover{
    background-color: white;
}

.nav ul li:hover a{
    color: #2477b6;
}

.nav-brand{
    display: flex;
}
.nav-brand img{
    width: 50px;
}
.nav-brand div{
    padding-top: 5px;
    margin-left: 10px;
}
.nav-brand div h3{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 24px;
    color: #082148;

}
.nav-brand div p{
    font-size: 10px;
    font-weight: bold;

}
.nav ul li #reg{
    color:#2477b6 ;
}
.nav ul #don{
    background: #20689e;
    padding: 10px 2rem;
    color: white;
    text-transform: initial;
    font-size: 15px;
}
.a{
    padding: 100px 120px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.a .left{
    width: 40%;
}
.a .left h1{
    font-size: 50px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.a .left p{
    font-size: 19px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.a .left button{
    padding: 15px 40px;
    background:  #20689e;
    border: none;
    font-size: 15px;
    color: white;
}
.a .right{
    width: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.a .right div{
    width: 180px;
    height: 340px;
}
.a .right div img{
    width: 180px;
    height: 340px;
}
.h1{
    background: linear-gradient(rgba(8, 33, 72,0.8), rgba(8, 33, 72,0.8)), url(image/img3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 183px;
    background-attachment: fixed;
    background-position: center;
}
.h1 h1{
    font-size: 50px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.mom{
    padding: 30px 183px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.mom div{
    width: 40%;
}
.mom div h1{
    font-size: 19px;
    padding: 20px 0px;
    font-family: 'Montserrat', sans-serif;
}
.mom div p{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}
.mom div button{
    float: right;
    padding: 15px 40px;
    background:  #20689e;
    border: none;
    font-size: 15px;
    color: white;
    margin-top: 20px;
}
.mom div button .fas{
    font-size: 20px;
}
.rope{
    padding: 100px 0px;
    display: flex;
    flex-wrap: wrap;
}
.rope .lef{
    background: #082148;
    width: 42%;
}
.rope .lef div{
    padding-left: 183px;
    padding-right: 50px;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.rope .lef div h1{
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.rope .lef div p{
    font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.rope .lef div a{
    color: white;
    font-size: 17px;
    border-bottom: 1px solid white;
}
.rope .righ{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    margin-left: 10%;
}
.rope .righ div{
    width: 22%;
    height: 100px;
}
.rope .righ div img{
    width: 50px;
}
.c{
    padding: 100px 50px;
}
.c .un{
    width: 70%;
    margin-left: 20%;
    background: linear-gradient(rgba(8, 33, 72,0.8), rgba(8, 33, 72,0.8)), url(image/img4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 90vh;
    color: white;
    padding: 90px;
}
.c .un h1{
    font-size: 40px;
    padding-bottom: 10px;
    font-family: 'Montserrat', sans-serif;
}
.c .un p{
    font-size: 18px;
    font-family: 'Lato', sans-serif;
}
.duo{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top:  -270px;
    margin-left: 30px;
}
.lo{
    width: 25%;
    background: white;
    box-shadow: 0px 15px 34px -29px rgba(0, 0, 0, 0.692);
    border-radius: 10px;
    padding-bottom: 20px; 
    margin-right: 30px;
    margin-bottom: 20px;
}
.lo img{
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}
.lo #lo{
    display: flex;
    margin-top: -247px;
    position: relative;
}
.lo #lo .rad{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background: gray;
    margin-left: 10px;
}
.lo #lo h1{
    font-size: 15px;
    font-weight: 100;
    padding-top: 7px;
    padding-left: 7px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
#all{
    padding: 0 20px;
}
.lo p{
    margin-top: 200px;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.ash{
    height: 9px;
    background: rgb(198, 198, 230);
    border-radius: 50px;
    margin: 10px 0px;
}
.blue{
    height: 9px;
    background: #2477b6;
    width: 60%;
    border-radius: 50px;
}
.lo h6{
    font-size: 15px;
    color: #082148;
    font-family: 'Montserrat', sans-serif;
}
.lo h5{
    text-align: center;
    padding-top: 10px;
    color: #20689e;
    text-transform: initial;
    font-size: 17px;
    font-family: 'Montserrat', sans-serif;
}
#gty{
    width: 70%;
    text-align: center;
    text-transform: uppercase;
}
#gty p{
    color: #2477b6;
    font-size: 18px;
}
.d{
    margin-top: 100px;
}
.d .rave{
    display: flex;
    flex-wrap: wrap;
}
.d #lefti{
    width: 42%;
    display: flex;
    flex-wrap: wrap;
}
.d .lefti{
    width: 100%;
    background: linear-gradient(rgba(8, 33, 72,0.8), rgba(8, 33, 72,0.8)), url(image/img5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.d .lefti div{
    padding-left: 183px;
    padding-right: 50px;
    color: white;
    padding-top: 80px;
    padding-bottom: 80px;
}
.d .lefti div h1{
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.d .lefti div p{
    font-size: 15px;
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.d .rasp{
    width: 50%;
    background: #20689e;
    margin-left: 290px;
    margin-right: -40px;
    font-family: 'Lato', sans-serif;
    color: white;
    padding: 30px;
    padding-bottom: 0;
    margin-top: -70px;
    height: 50%;
}
.d .rasp p{
    font-size: 35px;
    font-family: 'Lato', sans-serif;
}
.d .rasp #cash{
    padding-top: 30px;
}
.d .righti{
    width: 30%;
    margin-left: 90px;
}
.d .righti .card{
    margin-bottom: 20px;
    background: white;
    box-shadow: 0px 15px 34px -29px rgba(0, 0, 0, 0.692);
    padding: 30px;
}
.d .righti .card p{
    font-size: 15px;
    padding-bottom: 20px;
    font-family: 'Lato', sans-serif;
}
.d .righti .card div{
    display: flex;
}
.d .righti .card div h3{
    padding-top: 10px;
    padding-left: 5px;
    font-family: 'Montserrat', sans-serif;
}
.d .righti .card img{
    width: 40px;
    border-radius: 50%;
}
.d #gty{
    width: 100%;
    margin-top: 30px;
}
.e{
    width: 55%;
    background: url(image/dine.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    background-position: center;
    margin-left: 25%;
    margin-top: 100px;
}
#section{
    margin-left: 20%;
    width: 20%;
    background: #082148;
    color: white;
    padding: 30px;
    margin-top: -200px;
}
#section h1{
    font-size: 30px;
    padding-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
#section p{
    padding-bottom: 10px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
}
#section a{
    border-bottom: 1px solid white;
    color: white;
    font-size: 17px;
}
.f{
    margin: 100px 20%;
    display: flex;
    flex-wrap: wrap;
}
.f .le{
    width: 40%;
}
.f .le h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.f .le p{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.f .rig{
    width: 40%;
    margin-left: 10%;
}
.f .rig .form{
    width: 100%;
    background: white;
    box-shadow: 0px 15px 54px -29px rgba(0, 0, 0, 0.692);
    padding: 30px;
    
}
.f .rig .form #name, #password, #email{
    padding: 10px;
    width: 100%;
    margin-bottom: 10px;
    background: rgba(223, 222, 222, 0.555);
    border: none;
}
.f .rig .form #checkbox{
    margin-bottom: 10px;
}
.f .rig .form label{
    font-size: 12px;
    margin-left: 10px;
}
.f .rig .form #button{
    padding: 10px;
    width: 100%;
    color: white;
    background: #20689e;
    border: none;
    margin-top: 10px;

}
.f .rig #gty2{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.f .rig #gty2 p{
    color: #2477b6;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}
.f .rig #gty2 a{
    color: #2477b6;
    text-transform: initial;
    font-weight: bold
}
footer{
    background: #082148;
    padding: 30px 20%;
    display: flex;
    flex-wrap: wrap;
    color: white;
    justify-content: space-between;
    border-bottom: 4px solid rgba(255, 255, 255, 0.541);
}
.dop{
    width: 100%;
    margin-bottom: 20px;
}
.dop h1{
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
}
.dop1{
    width: 65%;
    margin-bottom: 40px;
}
.dop1 p{
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.dop1 #email2{
    width: 65%;
    padding: 8px;
    border: 1px solid white;
    background: none;
}
.dop1 #email2::placeholder{
    color: white;
}
.dop1 #button2{
    padding: 9px 15px 9px 15px;
    border: none;
    text-transform: uppercase;
}
.dop2{
    width:25%;
}
.dop2 p{
    font-size: 13px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
}
.dop2 img{
    width: 25px;
    padding-right: 6px;
}
.dop3{
    width: 100%;
    margin-bottom: 40px;
}
.dop3 h1{
    font-size: 25px;
    font-family: 'Montserrat', sans-serif;
}
.dop4{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    flex-wrap: wrap;
   
}
.dop4 h3{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 100;
    margin-bottom: 20px;
    font-family: 'Montserrat', sans-serif;
}
.dop4 p{
    font-size: 13px;
    font-family: 'Lato', sans-serif;
}
.sub{
    background: #082148;
    color: white;
    padding: 20px 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 13px;
    font-family: 'Montserrat', sans-serif;
}




@media  screen and (max-width: 1200px){
    .a {
        padding: 100px 50px;
        
    }
    .a .right, .a .left{
        width: 46%;
    }
    .lo{
        width: 30%;
    }
    
}
@media  screen and (max-width: 1000px){
    .d .rasp{
        margin-left: 100px;
    }
}

@media  screen and (max-width: 900px){
    .nav .nav-menu, .nav ul{
        flex-direction: column;
    }
    .nav {
        padding: 0 10px;
    }
    .nav .toggle-collapse{
        display: initial;
    }
    .nav ul #don{
        width: 20%;
    }
    .a .right, .a .left{
        width: 100%;
        margin-bottom: 20px;
        justify-content: unset;
    }
    .a .right div{
        margin-right: 10%;
    }
    .a {
        padding: 100px 50px;
    }
    .d .rasp{
        height: fit-content;
    }
    .lo{
        width:  250px;
    }
   

}
@media screen and (max-width: 800px){
    .rope .lef div{
        padding-left: 50px;
    }
    .d .lefti div{
        padding-left: 40px;
    }
    .c .un{
        margin-left: 0px;
    }
    .e, #section{
        margin-left: 30px;
        width: 100%;
    }
    #section{
        width: 50%;
    }
    footer, .sub{
        padding: 40px 30px;
    }
    .dop1{
        width: 100%;
    }
    .dop2{
        width: 50%;
        margin-bottom: 30px;
    }
}
@media screen and (max-width: 700px){
   
}

@media screen and (max-width: 600px){
    .a , .mom{
        padding: 100px 20px;
    }
    .a .left h1{
        font-size: 30px;
    }
    .a .right div{
        width: 100%;
        height: unset;
        margin-bottom: 20px;
        margin-right: unset;
    }
    .a .right div img{
        width: 100%;
        height: 45vh;
    }
    .h1{
        padding: 30px 10px;
        text-align: center;
        background-attachment: scroll;
    }
    .mom div{
        width: 100%;
        text-align: center;
    }
    .mom div button{
        float: initial;
    }
    .rope{
        padding: 10px 0;
    }
    .rope .righ, .rope .lef{
        width: 100%;
    }
    .rope .lef div{
        padding: 50px 20;
        text-align: center;
    }
    .rope .righ{
        margin-left: 5%;
        justify-content: center;
        margin-top: 20px;
    }
    .c{
        padding: 50px 0;
    }
    .c .un{
        width: 100%;
        float: unset;
        text-align: center;
        padding: 90px 0;
    }
    .c .duo{
        margin-top: 10px;
        justify-content: center;
        margin-left: 0;
    }
    .c .duo .lo{
        margin-right: 0;
    }
    #gty, .nav, .d #lefti, .d .righti{
        width: 100%;
    }
    .d .rasp{
        margin-left: 20px;
        
    }
    .d .righti{
        margin-left: 0px;
    }
    .e{
        height: 80vh;
    }
    .e, #section{
        margin-left: 0px;
        width: 100%;
    }
    #section{
        width: 100%;
    }
    .f{
        margin: 50px 0;
    }
    .f .le, .f .rig{
        width: 100%;
        margin-left: 20px;
    } 
    .f .rig{
        margin-left: 0px;
    } 
    .f .rig .form{
        width: unset;
    }
    .dop4 div, .sub div{
        width: 100%;
        margin-bottom: 20px;
    }
    .dop2{
        width: 100%;
    }
   
}



